Solver/Web References/BingRouteService/routeservice1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s0="http://dev.virtualearth.net/webservices/v1/route/contracts" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://dev.virtualearth.net/webservices/v1/route/contracts" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dev.virtualearth.net/webservices/v1/route/contracts" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="http://dev.virtualearth.net/webservices/v1/route/contracts/Imports" targetNamespace="http://dev.virtualearth.net/webservices/v1/route/contracts/Imports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import schemaLocation="http://dev.virtualearth.net/webservices/v1/metadata/routeservice/routeservice2.xsd" namespace="http://dev.virtualearth.net/webservices/v1/route/contracts" />
      <xs:import schemaLocation="http://dev.virtualearth.net/webservices/v1/metadata/routeservice/routeservice.xsd" namespace="http://dev.virtualearth.net/webservices/v1/common" />
      <xs:import schemaLocation="http://dev.virtualearth.net/webservices/v1/metadata/routeservice/routeservice1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xs:import schemaLocation="http://dev.virtualearth.net/webservices/v1/metadata/routeservice/routeservice3.xsd" namespace="http://dev.virtualearth.net/webservices/v1/route" />
    </xs:schema>
  </types>
  <message name="IRouteService_CalculateRoute_InputMessage">
    <part name="parameters" element="tns:CalculateRoute" />
  </message>
  <message name="IRouteService_CalculateRoute_OutputMessage">
    <part name="parameters" element="tns:CalculateRouteResponse" />
  </message>
  <message name="IRouteService_CalculateRoute_ResponseSummaryFault_FaultMessage">
    <part xmlns:q1="http://dev.virtualearth.net/webservices/v1/common" name="detail" element="q1:ResponseSummary" />
  </message>
  <message name="IRouteService_CalculateRoutesFromMajorRoads_InputMessage">
    <part name="parameters" element="tns:CalculateRoutesFromMajorRoads" />
  </message>
  <message name="IRouteService_CalculateRoutesFromMajorRoads_OutputMessage">
    <part name="parameters" element="tns:CalculateRoutesFromMajorRoadsResponse" />
  </message>
  <message name="IRouteService_CalculateRoutesFromMajorRoads_ResponseSummaryFault_FaultMessage">
    <part xmlns:q2="http://dev.virtualearth.net/webservices/v1/common" name="detail" element="q2:ResponseSummary" />
  </message>
  <portType name="IRouteService">
    <operation name="CalculateRoute">
      <fault wsaw:Action="http://dev.virtualearth.net/webservices/v1/route/contracts/IRouteService/CalculateRouteResponseSummaryFault" name="ResponseSummaryFault" message="tns:IRouteService_CalculateRoute_ResponseSummaryFault_FaultMessage" />
      <input wsaw:Action="http://dev.virtualearth.net/webservices/v1/route/contracts/IRouteService/CalculateRoute" message="tns:IRouteService_CalculateRoute_InputMessage" />
      <output wsaw:Action="http://dev.virtualearth.net/webservices/v1/route/contracts/IRouteService/CalculateRouteResponse" message="tns:IRouteService_CalculateRoute_OutputMessage" />
    </operation>
    <operation name="CalculateRoutesFromMajorRoads">
      <fault wsaw:Action="http://dev.virtualearth.net/webservices/v1/route/contracts/IRouteService/CalculateRoutesFromMajorRoadsResponseSummaryFault" name="ResponseSummaryFault" message="tns:IRouteService_CalculateRoutesFromMajorRoads_ResponseSummaryFault_FaultMessage" />
      <input wsaw:Action="http://dev.virtualearth.net/webservices/v1/route/contracts/IRouteService/CalculateRoutesFromMajorRoads" message="tns:IRouteService_CalculateRoutesFromMajorRoads_InputMessage" />
      <output wsaw:Action="http://dev.virtualearth.net/webservices/v1/route/contracts/IRouteService/CalculateRoutesFromMajorRoadsResponse" message="tns:IRouteService_CalculateRoutesFromMajorRoads_OutputMessage" />
    </operation>
  </portType>
</definitions>